<!--
border setting page

a panel for setting a border for a widget. for each left/right/top/bottom properties. these css-attributes are affected:
- border-style
- border-width
- border-color
- border-radius


Created by mgh.
-->
<md-list class="wb-setting-panel"> <!-- corner radius section -->

	<!-- SECTION: uniform corner radius section-->
	<md-subheader class="md-no-sticky">Corner Radius</md-subheader>

	<!-- are all corners have equal border? -->
	<wb-ui-setting-on-off-switch title="All Equal?" icon="rounded_corner" value="wbModel.style.borderRadius.uniform"></wb-ui-setting-on-off-switch>

	<!-- uniform corner radius as a text-box -->
	<wb-ui-setting-number ng-show="wbModel.style.borderRadius.uniform" title="Radius" icon="rounded_corner"  value="wbModel.style.borderRadius.all"></wb-ui-setting-number>

	<!-- uniform corner radius as a slider -->
	<wb-ui-setting-number ng-show="wbModel.style.borderRadius.uniform" slider="" icon="wb-blank" value="wbModel.style.borderRadius.all"></wb-ui-setting-number>
	
	<!-- 4 sliders for left-right-bottom-up corner radius -->
	<!-- top-left radius -->
	<wb-ui-setting-number ng-show="!wbModel.style.borderRadius.uniform" title="Top-Left" icon="face"  value="wbModel.style.borderRadius.topLeft"></wb-ui-setting-number>

	<!-- top-right radius -->
	<wb-ui-setting-number ng-show="!wbModel.style.borderRadius.uniform" title="Top-Right" icon="face"  value="wbModel.style.borderRadius.topRight"></wb-ui-setting-number>

	<!-- bottom-left radius -->
	<wb-ui-setting-number ng-show="!wbModel.style.borderRadius.uniform" title="Bottom-left" icon="face"  value="wbModel.style.borderRadius.bottomLeft"></wb-ui-setting-number>
	
	<!-- bottom-right radius -->
	<wb-ui-setting-number ng-show="!wbModel.style.borderRadius.uniform" title="Bottom-Right" icon="face"  value="wbModel.style.borderRadius.bottomRight"></wb-ui-setting-number>



	<!-- SECTION: style and width and color -->
	<md-divider></md-divider>
	<md-subheader>Style/Color/Thickness</md-subheader>

	<!-- are all side have a same border? -->
	<wb-ui-setting-on-off-switch title="All Equal?" title="All Eaual?" icon="border_all" value="wbModel.style.borderStyleColorWidth.uniform"></wb-ui-setting-on-off-switch>
	
	<!-- border style for all situation -->
	<wb-ui-setting-dropdown ng-show="wbModel.style.borderStyleColorWidth.uniform"
							title="Border" icon="style" items="styles" value="wbModel.style.borderStyle.all"></wb-ui-setting-dropdown>
	
	<!-- border thickness for all situation -->
	<wb-ui-setting-number ng-show="wbModel.style.borderStyleColorWidth.uniform && wbModel.style.borderStyle.all!='none'"
						  title="Thickness" icon="thickness"  value="wbModel.style.borderWidth.all"></wb-ui-setting-number>

	<!-- border color for all situation -->
	<wb-ui-setting-color ng-show="wbModel.style.borderStyleColorWidth.uniform && wbModel.style.borderStyle.all!='none'"
						 title="Color" icon="format_color_fill" value="wbModel.style.borderColor.all"></wb-ui-setting-color>


	<!-- for left/right/top/bottom border -->
	<!-- left -->
	<wb-ui-setting-dropdown ng-show="!wbModel.style.borderStyleColorWidth.uniform" title="Left-Border" icon="border_left"
						  items="styles" value="wbModel.style.borderStyle.left"></wb-ui-setting-dropdown>

	<wb-ui-setting-number ng-show="(!wbModel.style.borderStyleColorWidth.uniform) && wbModel.style.borderStyle.left!='none'"
						  title="Thickness" icon="thickness"  value="wbModel.style.borderWidth.left"></wb-ui-setting-number>

	<wb-ui-setting-color ng-show="(!wbModel.style.borderStyleColorWidth.uniform) && wbModel.style.borderStyle.left!='none'"
						  title="Color" icon="format_color_fill"  value="wbModel.style.borderColor.left"></wb-ui-setting-color>

	<!-- Right -->
	<md-divider class="wb-sub-divider" ng-show="!wbModel.style.borderStyleColorWidth.uniform"></md-divider>

	<wb-ui-setting-dropdown ng-show="!wbModel.style.borderStyleColorWidth.uniform" title="Right-Border" icon="border_right"
							items="styles" value="wbModel.style.borderStyle.right"></wb-ui-setting-dropdown>

	<wb-ui-setting-number ng-show="(!wbModel.style.borderStyleColorWidth.uniform) && wbModel.style.borderStyle.right!='none'"
						  title="Thickness" icon="thickness"  value="wbModel.style.borderWidth.right"></wb-ui-setting-number>

	<wb-ui-setting-color ng-show="(!wbModel.style.borderStyleColorWidth.uniform) && wbModel.style.borderStyle.right!='none'"
						 title="Color" icon="format_color_fill"  value="wbModel.style.borderColor.right"></wb-ui-setting-color>


	<!-- Top -->
	<md-divider class="wb-sub-divider" ng-show="!wbModel.style.borderStyleColorWidth.uniform"></md-divider>

	<wb-ui-setting-dropdown ng-show="!wbModel.style.borderStyleColorWidth.uniform" title="Top-Border" icon="border_top"
							items="styles" value="wbModel.style.borderStyle.top"></wb-ui-setting-dropdown>

	<wb-ui-setting-number ng-show="(!wbModel.style.borderStyleColorWidth.uniform) && wbModel.style.borderStyle.top!='none'"
						  title="Thickness" icon="thickness"  value="wbModel.style.borderWidth.top"></wb-ui-setting-number>

	<wb-ui-setting-color ng-show="(!wbModel.style.borderStyleColorWidth.uniform) && wbModel.style.borderStyle.top!='none'"
						 title="Color" icon="format_color_fill"  value="wbModel.style.borderColor.top"></wb-ui-setting-color>


	<!-- Bottom -->
	<md-divider class="wb-sub-divider" ng-show="!wbModel.style.borderStyleColorWidth.uniform"></md-divider>

	<wb-ui-setting-dropdown ng-show="!wbModel.style.borderStyleColorWidth.uniform" title="Bottom-Border" icon="border_bottom"
							items="styles" value="wbModel.style.borderStyle.bottom"></wb-ui-setting-dropdown>

	<wb-ui-setting-number ng-show="(!wbModel.style.borderStyleColorWidth.uniform) && wbModel.style.borderStyle.bottom!='none'"
						  title="Thickness" icon="thickness"  value="wbModel.style.borderWidth.bottom"></wb-ui-setting-number>

	<wb-ui-setting-color ng-show="(!wbModel.style.borderStyleColorWidth.uniform) && wbModel.style.borderStyle.bottom!='none'"
						 title="Color" icon="format_color_fill"  value="wbModel.style.borderColor.bottom"></wb-ui-setting-color>

</md-list>
