<!--
background setting page

a panel for background settings and opacity of a widget. these css-attributes are affected:
- background-color
- background-transparent
- background-image
- opacity

Created by mgh.
-->
<md-list class="wb-setting-panel">

    <!-- is transparent? -->
    <wb-ui-setting-on-off-switch 
    	title="Transparent?" 
    	icon="blur_on" 
    	value="wbModel.style.isTransparent">
    </wb-ui-setting-on-off-switch>

    <!-- opacity text-box -->
    <wb-ui-setting-number 
    	ng-show="wbModel.style.isTransparent" 
    	title="Opacity" 
    	icon="wb-opacity" 
    	value="wbModel.style.opacity">
    </wb-ui-setting-number>

    <!-- opacity slider -->
    <wb-ui-setting-number 
    	ng-show="wbModel.style.isTransparent" 
    	slider="" 
    	icon="wb-blank"  
    	value="wbModel.style.opacity">
    </wb-ui-setting-number>



    <!-- background -->
    <wb-ui-setting-image
    	title="Background image" 
        value="wbModel.style.backgroundImage">
	</wb-ui-setting-image>
    <wb-ui-setting-color 
    	title="Background Color" 
    	icon="format_color_fill" 
    	value="wbModel.style.backgroundColor">
    </wb-ui-setting-color>
    
    <!-- advanced background -->
    <wb-ui-setting-on-off-switch 
    	title="Advance Background options" 
    	value="_abo">
    </wb-ui-setting-on-off-switch>
	<md-input-container 
    	ng-show="_abo" 
		class="md-icon-float md-block">
		<label>Background</label>
		<input ng-model="wbModel.style.background" type="text">
	</md-input-container>
	<md-input-container 
    	ng-show="_abo" 
		class="md-icon-float md-block">
		<label>Background size</label>
		<input ng-model="wbModel.style.backgroundSize" type="text">
	</md-input-container>
	<md-input-container 
    	ng-show="_abo" 
		class="md-icon-float md-block">
		<label>Background repeat</label>
		<input ng-model="wbModel.style.backgroundRepeat" type="text">
	</md-input-container>
	<md-input-container 
    	ng-show="_abo" 
		class="md-icon-float md-block">
		<label>Background position</label>
		<input ng-model="wbModel.style.backgroundPosition" type="text">
	</md-input-container>
	<md-input-container 
    	ng-show="_abo" 
		class="md-icon-float md-block">
		<label>Background attachment</label>
		<input ng-model="wbModel.style.backgroundAttachment" type="text">
	</md-input-container>
	<md-input-container 
    	ng-show="_abo" 
		class="md-icon-float md-block">
		<label>Background origin</label>
		<input ng-model="wbModel.style.backgroundOrigin" type="text">
	</md-input-container>

</md-list>