<!-- 
صفحه خالی

ممکن است برای یک ویجت دسته‌ای از خصوصیت‌ها در نظر گرفته شود که ویرایشگر مناسب آن 
وجود ندارد. در این صورت این صفحه نمایش داده می‌شود و به کاربر این خطا نمایش داده
می‌شود.

TODO: maso, 1395: این قسمت نیاز به طراحی و پیاده سازی دارد
 -->
<wb-icon>bug</wb-icon>
<h2>Settings page not found</h2>