.md-button.md-icon-button.md-mini {
	line-height: 1rem;
	width: 1.5rem;
	height: 1.5rem;
	min-height: 1rem;
	margin: 0px;
	padding: 0px;
	margin-left: 4px;
}

.wb-icon-mini {
	padding: 0px;
	margin: 0px;
	font-size: 1rem;
	line-height: 1rem;
	min-height: 1rem;
}

/**************************************************************************************
Hierarchical structure

Panel contains serveral children to show a good view. Here is the structure:

-> wb-panel 
  -> wb-panel-body 
     -> overlay
     -> wb-panel-container
***************************************************************************************/
.wb-page-edit:hover .wb-widget-edit{
	zoom: 1;
	filter: alpha(opacity=45);
	opacity: 0.45;
	-webkit-transition: opacity .5s ease-in-out;
	-moz-transition: opacity .5s ease-in-out;
	-ms-transition: opacity .5s ease-in-out;
	-o-transition: opacity .5s ease-in-out;
	transition: opacity .5s ease-in-out;
}
.wb-page-edit .wb-widget-edit:hover{
	box-shadow: 3px 3px 15px #666;
	cursor: pointer;

	/*Opacity*/
	zoom: 1;
	filter: alpha(opacity=100);
	opacity: 1;
}
/* === */
.wb-panel {
	margin: 2px;
	border: 1px dashed #039BE5;
}

.wb-panel-body {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
}

.wb-panel-container {
	position: relative;
	top: 0;
	left: 0;
	width: auto;
	height: auto;
	min-height: 30px;
}

.wb-panel-header {
	background-color: rgba(3, 155, 229, 0.2);
	background-image: repeating-linear-gradient(315deg, transparent, transparent 16px, rgba(255
		, 255, 255, .5) 16px, rgba(255, 255, 255, .5) 32px);
	color: black;
	padding: 0px;
	border: none;
	border-bottom: 1px dashed rgb(3, 155, 229);
	min-height: 30px;
}

.wb-panel-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	color: white;
	background: radial-gradient(black 15%, transparent 16%) 0 0,
		radial-gradient(black 15%, transparent 16%) 8px 8px,
		radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 0 1px,
		radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 8px 9px;
	background-color: #282828;
	background-size: 12px 12px;
}
