.color-picker-hide-textbox{
    direction: rtl;
    margin: 0px;
    padding: 0px;
}
.color-picker-hide-textbox md-input-container {
    visibility: hidden;
    width: 10px !important;
    height: 32px;
}
