
/**************************************************************************************
Hierarchical structure

A widget is wraped in several dive to instruct a view. Here is the hierarchial structure
of a widget:

-> widget
  -> widget header
  -> widget body
    -> widget overlay
    -> widget container
***************************************************************************************/
.wb-widget {
}

.wb-widget-edit {
	margin: 2px;
	position: relative;
	border: 1px dashed #8f9494;
}

.wb-widget-header {
	background-color: rgba(120, 120, 120, 0.2);
	background-image: repeating-linear-gradient(315deg, transparent, transparent 12px, rgba(255
		, 255, 255, .5) 12px, rgba(255, 255, 255, .5) 24px);
	color: black;
	padding: 2px;
	margin: 0px;
	border: none;
	border-bottom: 1px dashed #8f9494;
	min-height: 24px;
}

.wb-widget-body {
	position: relative;
	top: 0;
	left: 0;

}

.wb-widget-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	color: white;
	background: radial-gradient(black 15%, transparent 16%) 0 0,
		radial-gradient(black 15%, transparent 16%) 8px 8px,
		radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 0 1px,
		radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 8px 9px;
	background-color: #282828;
	background-size: 12px 12px;
}

.wb-widget-container {
	position: relative;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    overflow: auto;
}
