<div
	layout="column">
	<md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
		<md-nav-item md-nav-click="goto('setting')" name="setting">Settings</md-nav-item>
		<md-nav-item md-nav-click="goto('widget')" name="widget">Widgets</md-nav-item>
	</md-nav-bar>
	<div 
		ng-show="page=='widget'"
		layout="column">
		<md-list flex>
	        <md-list-item 
	        	class="md-2-line" 
	        	ng-repeat="widget in widgets"

	        	dnd-draggable="widget.data"
				dnd-type="'wb.widget'"
		        dnd-effect-allowed="copy">
				<wb-icon wb-icon-name="{{widget.icon}}"></wb-icon>
				<div class="md-list-item-text" layout="column">
				  <h3>{{ widget.label }}</h3>
				  <p>{{ widget.description }}</p>
				</div>
	        </md-list-item>
        </md-list>
	</div>
	<div 
		ng-show="page=='setting'"
		id="WB-SETTING-PANEL">
	 <!-- Setting pages -->
	</div>
</div>