<md-list-item>
    <md-button 
    	class="md-icon-button" 
    	aria-label="Edit" 
    	ng-click="edit(value)">
		<wb-icon>wb-object-audio</wb-icon>
    </md-button>
	<md-input-container>
		<input
			type="text"
			ng-model="value">
	</md-input-container>
</md-list-item>