<md-list-item>
	<img 
		ng-click="selectImage()"
		ng-src="{{value}}" 
		width="24px" height="24px"
		class="md-avatar-icon"/>
	<md-input-container>
		<input
			type="text"
			ng-model="value">
	</md-input-container>
</md-list-item>