<div 
	dnd-disable-if="!wbEditable"
	dnd-selected="selected()"
	dnd-draggable="wbModel"
	dnd-type="'wb.widget'"
	dnd-moved="movedCallback()"
	class="wb-widget"
	ng-class="{'wb-widget-edit': wbEditable}" 
	layout="column"
	name="{{wbModel.name}}">
    <!-- یک عنوان در حالت ادیت برای راهنمایی کاربر اضافه می‌کند -->
    <div ng-show="isSelected()"
         layout="row"
         class="wb-widget-header">
		<span translate> {{wbModel.name}}</span> 
		<span flex></span>
		<md-button 
			ng-if="add"
			ng-click="add()" 
			class="md-icon-button md-mini">
			<wb-icon class="mde-icon-mini">add_circle</wb-icon> 
		</md-button>
		<md-button 
			ng-click="clone()"
			 class="md-icon-button md-mini">
			<wb-icon class="mde-icon-mini">content_copy</wb-icon> 
		</md-button>
		<md-button 
			class="md-icon-button md-mini" 
			ng-click="remove()"
			ng-show="remove"
            ng-mouseenter="ctrl.hoveringDelBtn=true"
            ng-mouseleave="ctrl.hoveringDelBtn=false"> 
			<wb-icon class="mde-icon-mini">delete</wb-icon>
		</md-button>
		<md-divider></md-divider>
		<!-- 
			Extra Actions:
			Widgets can contributes customized action with extraActions in
			scope.
		 -->
		<md-button 
			class="md-icon-button md-mini" 
			ng-repeat="item in extraActions"
			ng-click="item.action()"> 
			<wb-icon class="mde-icon-mini">{{item.icon}}</wb-icon>
		</md-button>
    </div>
	
    <!-- body section (in non-edit mode, this area just shown -->
    <div
    	class="wb-widget-body"
		wb-padding="wbModel.style"
		wb-size="wbModel.style"
		wb-background="wbModel.style"
		wb-border="wbModel.style"
		wb-margin="wbModel.style">
		<div  
			class="wb-widget-overlay"
			ng-show="ctrl.hoveringDelBtn">
		</div>
	    <wb-transclude
	    	class="wb-widget-container"
    		wb-layout="wbModel.style">
    	</wb-transclude>
    </div>
</div>