<!doctype html>
<html
        ng-controller="MyTestCtrl"
        ng-app="ngMaterialWeburgerTest">
<head>
    <meta charset="utf-8">
    <meta content='IE=edge' http-equiv='X-UA-Compatible'>
    <meta property="viewport" content="width=device-width">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <link rel="stylesheet" href="bower_components/md-color-picker/dist/mdColorPicker.min.css" />
    <link rel="stylesheet" href="bower_components/angular-material-expansion-panel/dist/md-expansion-panel.css" />
    <link rel="stylesheet" href="bower_components/angular-material-icons/angular-material-icons.css" />
    <link rel="stylesheet" href="bower_components/pikaday/css/pikaday.css" />
    <link rel="stylesheet" href="bower_components/handsontable/dist/handsontable.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/wb-dnd.css">
    <link rel="stylesheet" href="styles/wb-page.css">
    <link rel="stylesheet" href="styles/wb-group.css">
    <link rel="stylesheet" href="styles/wb-widget.css">
    <link rel="stylesheet" href="styles/dialogs.css">
    <link rel="stylesheet" href="styles/typography.css">
    <link rel="stylesheet" href="styles/setting-layout.css">
    <link rel="stylesheet" href="styles/flex-util.css">
    <link rel="stylesheet" href="styles/wb-group-button.css">
    <link rel="stylesheet" href="styles/wb-ui-choose.css">
    <link rel="stylesheet" href="styles/wb-ui-setting-color.css">

   <link rel="stylesheet" href="styles/main.css">
   <link rel="stylesheet" href="styles/font-awesome.css">
    <!-- endbuild -->
</head>
<body>
<div
        layout="row"
        layout-fill>
    <div layout="column" flex>
        <!-- 			Custom button group -->
        <!-- 			See: https://material.angularjs.org/latest/CSS/button#grouping-with-css-overrides -->
        <section layout="row" layout-align="center center">
            <md-button
                    ng-class="{'md-primary' : editable}"
                    class="wb-group-button left"
                    ng-click="editable=!editable">
                <wb-icon>edit</wb-icon>
            </md-button>
            <md-button
                    ng-class="{'md-primary' : showContent}"
                    class="wb-group-button right"
                    ng-click="showContent=!showContent">
                <wb-icon>content_copy</wb-icon>
            </md-button>
       </section>
       <md-list>
<!-- 		    <wb-ui-setting-image -->
<!-- 		    	title="Cover"  -->
<!-- 		        value="cover"> -->
<!-- 			</wb-ui-setting-image> -->
<!-- 		    <wb-ui-setting-audio -->
<!-- 		    	title="Audio"  -->
<!-- 		        value="audio"> -->
<!-- 			</wb-ui-setting-audio> -->
<!-- 		    <wb-ui-setting-video -->
<!-- 		    	title="Video"  -->
<!-- 		        value="video"> -->
<!-- 			</wb-ui-setting-video> -->
		    <wb-ui-setting-data 
		        value="myData">
			</wb-ui-setting-data>
        </md-list>
        <textarea ng-show="showContent">{{model}}</textarea>
        <div
                layout="row"
                flex>
            <wb-setting-panel-group
            		id="main"
                    ng-if="editable"
                    flex="30"
                    style="overflow: auto;">
            </wb-setting-panel-group>
            <wb-content
            		wb-setting-anchor="main"
                    wb-editable="editable"
                    wb-model="model"
                    flex
                    style="overflow: auto;">
            </wb-content>
        </div>
    </div>
</div>

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-messages/angular-messages.js"></script>
<script src="bower_components/angular-material/angular-material.js"></script>
<script src="bower_components/angular-translate/angular-translate.js"></script>
<script src="bower_components/tinycolor/tinycolor.js"></script>
<script src="bower_components/md-color-picker/dist/mdColorPicker.min.js"></script>
<script src="bower_components/tinymce/tinymce.js"></script>
<script src="bower_components/angular-ui-tinymce/src/tinymce.js"></script>
<script src="bower_components/angular-drag-and-drop-lists/angular-drag-and-drop-lists.js"></script>
<script src="bower_components/angular-material-expansion-panel/dist/md-expansion-panel.js"></script>
<script src="bower_components/angular-material-icons/angular-material-icons.min.js"></script>
<script src="bower_components/weakmap-polyfill/weakmap-polyfill.js"></script>
<script src="bower_components/moment/moment.js"></script>
<script src="bower_components/numbro/numbro.js"></script>
<script src="bower_components/pikaday/pikaday.js"></script>
<script src="bower_components/zeroclipboard/dist/ZeroClipboard.js"></script>
<script src="bower_components/handsontable/dist/handsontable.js"></script>
<script src="bower_components/ngHandsontable/dist/ngHandsontable.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/demo.js"></script>

<script src="scripts/app.js"></script>

<script src="scripts/configs/icons.js"></script>

<script src="scripts/runs/widgets.js"></script>
<script src="scripts/runs/settings.js"></script>
<script src="scripts/runs/resources.js"></script>
<script src="scripts/runs/tinymc-image.js"></script>

<script src="scripts/controllers/wb-dialogs.js"></script>
<script src="scripts/controllers/wb-widgetselect.js"></script>
<script src="scripts/controllers/wb-layoutsetting.js"></script>
<script src="scripts/controllers/wb-pagelayoutsetting.js"></script>
<script src="scripts/controllers/wb-selflayoutsetting.js"></script>
<script src="scripts/controllers/wb-bordersetting.js"></script>
<script src="scripts/controllers/wb-textsetting.js"></script>
<script src="scripts/controllers/resource.js"></script>

<script src="scripts/directives/wb-page.js"></script>
<script src="scripts/directives/wb-group.js"></script>
<script src="scripts/directives/wb-widget.js"></script>

<script src="scripts/directives/wb-infinateScroll.js"></script>
<script src="scripts/directives/wb-icon.js"></script>

<script src="scripts/directives/wb-setting-panel-group.js"></script>
<script src="scripts/directives/wb-setting-panel.js"></script>

<script src="scripts/directives/wb-ui-choose.js"></script>
<script src="scripts/directives/wb-ui-setting-choose.js"></script>
<script src="scripts/directives/wb-ui-setting-on-off-switch.js"></script>
<script src="scripts/directives/wb-ui-setting-number.js"></script>
<script src="scripts/directives/wb-ui-setting-color.js"></script>
<script src="scripts/directives/wb-ui-setting-dropdown.js"></script>
<script src="scripts/directives/wb-ui-setting-image.js"></script>
<script src="scripts/directives/wb-ui-setting-audio.js"></script>
<script src="scripts/directives/wb-ui-setting-video.js"></script>
<script src="scripts/directives/wb-ui-setting-data.js"></script>

<script src="scripts/directives/style-wb-margin.js"></script>
<script src="scripts/directives/style-wb-padding.js"></script>
<script src="scripts/directives/style-wb-size.js"></script>
<script src="scripts/directives/style-wb-border.js"></script>
<script src="scripts/directives/style-wb-background.js"></script>
<script src="scripts/directives/style-wb-layout.js"></script>

<script src="scripts/filters/wb-unsafe.js"></script>

<script src="scripts/services/widget.js"></script>
<script src="scripts/services/settings.js"></script>
<script src="scripts/services/resource.js"></script>
<script src="scripts/services/util.js"></script>
<script src="scripts/services/ui.js"></script>
<!-- endbuild -->

</body>
</html>
