<div flex layout="column">
	<p>Fill the following field with the URL.</p>
	<md-input-container 
		class="md-icon-float md-block">
		<label translate>URL</label>
		<input ng-model="value" type="text">
	</md-input-container>
</div>